Monthly Supplier Pre-Read.json
{
  "name": "Monthly Supplier Pre-Read",
  "nodes": [
    {
      "parameters": {
        "authentication": "none",
        "formTitle": "Monthly Supplier Pre-Read",
        "formDescription": "Enter a supplier ID (SuID) to build a supplier pre-read for the last fully closed month. The workflow uses your existing portfolio filter and emails the formatted pre-read when complete.",
        "formFields": {
          "values": [
            {
              "fieldName": "supplier_id",
              "fieldLabel": "Supplier ID (SuID)",
              "fieldType": "text",
              "placeholder": "123456",
              "requiredField": true
            },
            {
              "fieldName": "recipient_email",
              "fieldLabel": "Send pre-read to",
              "fieldType": "email",
              "placeholder": "name@example.com",
              "defaultValue": "bhannigan@wayfair.com",
              "requiredField": true
            },
            {
              "fieldName": "portfolio_owner",
              "fieldLabel": "Portfolio owner filter",
              "fieldType": "text",
              "defaultValue": "Hannigan, Benjamin",
              "requiredField": true
            },
            {
              "fieldName": "context_notes",
              "fieldLabel": "Optional meeting context",
              "fieldType": "textarea",
              "placeholder": "What should be top-of-mind for this supplier?",
              "requiredField": false
            }
          ]
        },
        "responseMode": "onReceived",
        "options": {
          "buttonLabel": "Generate pre-read",
          "path": "monthly-supplier-pre-read",
          "ignoreBots": true,
          "appendAttribution": false,
          "respondWithOptions": {
            "values": {
              "respondWith": "text",
              "formSubmittedText": "Your supplier pre-read is being generated and will be emailed shortly."
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "682c63ba-841d-4894-ac32-aa79b28580fe",
      "name": "Form Trigger"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\nconst trim = (value) => String(value ?? '').trim();\nconst supplierId = trim(input.supplier_id).replace(/[^0-9]/g, '');\nif (!supplierId) {\n  throw new Error('Enter a valid numeric supplier_id / SuID.');\n}\n\nconst recipientEmail = trim(input.recipient_email) || 'bhannigan@wayfair.com';\nconst portfolioOwner = trim(input.portfolio_owner) || 'Hannigan, Benjamin';\nconst contextNotes = trim(input.context_notes);\n\nconst escapeSql = (value) => value.replace(/'/g, \"''\");\nconst portfolioOwnerSql = escapeSql(portfolioOwner);\nconst supplierIdSql = escapeSql(supplierId);\n\nconst sqlQuery = `WITH params AS (\n  SELECT\n    DATE_TRUNC(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), MONTH) AS current_month_start,\n    DATE_TRUNC(DATE_SUB(CURRENT_DATE(), INTERVAL 2 MONTH), MONTH) AS prior_month_start,\n    DATE_TRUNC(DATE_SUB(DATE_SUB(CURRENT_DATE(), INTERVAL 1 MONTH), INTERVAL 1 YEAR), MONTH) AS prior_year_month_start,\n    '${portfolioOwnerSql}' AS portfolio_owner,\n    '${supplierIdSql}' AS supplier_id\n),\nselected_months AS (\n  SELECT current_month_start AS month_start FROM params\n  UNION ALL SELECT prior_month_start FROM params\n  UNION ALL SELECT prior_year_month_start FROM params\n),\nrequested_supplier AS (\n  SELECT\n    params.supplier_id AS supplier_id,\n    ANY_VALUE(dim.origsuname) AS supplier_name,\n    COUNT(dim.supplierkey) > 0 AS supplier_exists\n  FROM params\n  LEFT JOIN \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_dim_supplier\\` AS dim\n    ON dim.srmcontactname = params.portfolio_owner\n   AND CAST(dim.origsuid AS STRING) = params.supplier_id\n  GROUP BY params.supplier_id\n),\ncurrency AS (\n  SELECT\n    ANY_VALUE(ExchangeRate) AS exchange_rate,\n    ANY_VALUE(currency_symbol) AS currency_symbol\n  FROM \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.vw_local_currency_conversion\\`\n  WHERE CuyShortName = 'USD'\n),\ngrs_order_rows AS (\n  SELECT\n    DATE_TRUNC(retail_sku_store_date.date, MONTH) AS month_start,\n    CAST(retail_dim_supplier.origsuid AS STRING) AS supplier_id,\n    retail_dim_supplier.origsuname AS supplier_name,\n    orders.id AS order_id,\n    COALESCE(orders.grossrevenuestable, 0) * COALESCE(currency.exchange_rate, 1) AS grs\n  FROM \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_sku_store_date_agg\\` AS retail_sku_store_date\n  LEFT JOIN UNNEST(retail_sku_store_date.supplier_struct) AS supplier_struct\n  LEFT JOIN UNNEST(supplier_struct.supplier_part_struct) AS supplier_part_struct\n  LEFT JOIN UNNEST(supplier_part_struct.orders) AS orders\n  LEFT JOIN \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_dim_supplier\\` AS retail_dim_supplier\n    ON retail_dim_supplier.supplierkey = supplier_struct.supplierkey\n  CROSS JOIN currency\n  CROSS JOIN params\n  WHERE retail_sku_store_date.brandname = 'Wayfair'\n    AND retail_sku_store_date.styname = 'United States'\n    AND retail_sku_store_date.agg_level = 'DAILY'\n    AND retail_dim_supplier.srmcontactname = params.portfolio_owner\n    AND DATE_TRUNC(retail_sku_store_date.date, MONTH) IN (\n      SELECT month_start FROM selected_months\n    )\n    AND orders.id IS NOT NULL\n),\ngrs_deduped AS (\n  SELECT\n    month_start,\n    supplier_id,\n    supplier_name,\n    order_id,\n    ANY_VALUE(grs) AS grs\n  FROM grs_order_rows\n  GROUP BY month_start, supplier_id, supplier_name, order_id\n),\nmonthly_grs_all AS (\n  SELECT\n    month_start,\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    ANY_VALUE(currency.currency_symbol) AS currency_symbol,\n    SUM(grs) AS monthly_grs\n  FROM grs_deduped\n  CROSS JOIN currency\n  GROUP BY month_start, supplier_id\n),\ngrs_summary AS (\n  SELECT\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    ANY_VALUE(currency_symbol) AS currency_symbol,\n    SUM(IF(month_start = params.current_month_start, monthly_grs, 0)) AS current_grs,\n    SUM(IF(month_start = params.prior_month_start, monthly_grs, 0)) AS prior_month_grs,\n    SUM(IF(month_start = params.prior_year_month_start, monthly_grs, 0)) AS prior_year_grs\n  FROM monthly_grs_all\n  CROSS JOIN params\n  GROUP BY supplier_id\n),\nportfolio_rank AS (\n  SELECT\n    supplier_id,\n    ROW_NUMBER() OVER (ORDER BY monthly_grs DESC, supplier_name) AS current_month_grs_rank,\n    SAFE_DIVIDE(monthly_grs, SUM(monthly_grs) OVER ()) AS current_month_grs_share\n  FROM monthly_grs_all\n  CROSS JOIN params\n  WHERE month_start = params.current_month_start\n),\ntraffic_rows AS (\n  SELECT\n    DATE_TRUNC(retail_sku_store_date.date, MONTH) AS month_start,\n    CAST(retail_dim_supplier.origsuid AS STRING) AS supplier_id,\n    retail_dim_supplier.origsuname AS supplier_name,\n    traffic_source.id AS traffic_source_id,\n    COALESCE(traffic_source.skuvisits, 0) AS visits,\n    COALESCE(traffic_source.skuconverted, 0) AS converted\n  FROM \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_sku_store_date_agg\\` AS retail_sku_store_date\n  LEFT JOIN UNNEST(retail_sku_store_date.traffic_source) AS traffic_source\n  LEFT JOIN UNNEST(retail_sku_store_date.supplier_struct) AS supplier_struct\n  LEFT JOIN \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_dim_supplier\\` AS retail_dim_supplier\n    ON retail_dim_supplier.supplierkey = supplier_struct.supplierkey\n  CROSS JOIN params\n  WHERE retail_sku_store_date.brandname = 'Wayfair'\n    AND retail_sku_store_date.styname = 'United States'\n    AND retail_sku_store_date.agg_level = 'DAILY'\n    AND retail_dim_supplier.srmcontactname = params.portfolio_owner\n    AND DATE_TRUNC(retail_sku_store_date.date, MONTH) IN (\n      SELECT month_start FROM selected_months\n    )\n    AND traffic_source.id IS NOT NULL\n),\ntraffic_deduped AS (\n  SELECT\n    month_start,\n    supplier_id,\n    supplier_name,\n    traffic_source_id,\n    ANY_VALUE(visits) AS visits,\n    ANY_VALUE(converted) AS converted\n  FROM traffic_rows\n  GROUP BY month_start, supplier_id, supplier_name, traffic_source_id\n),\nmonthly_traffic_all AS (\n  SELECT\n    month_start,\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    SUM(visits) AS monthly_visits,\n    SUM(converted) AS monthly_converted,\n    SAFE_DIVIDE(SUM(converted), SUM(visits)) AS monthly_cvr\n  FROM traffic_deduped\n  GROUP BY month_start, supplier_id\n),\ntraffic_summary AS (\n  SELECT\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    SUM(IF(month_start = params.current_month_start, monthly_visits, 0)) AS current_visits,\n    SUM(IF(month_start = params.current_month_start, monthly_converted, 0)) AS current_converted,\n    SAFE_DIVIDE(\n      SUM(IF(month_start = params.current_month_start, monthly_converted, 0)),\n      SUM(IF(month_start = params.current_month_start, monthly_visits, 0))\n    ) AS current_cvr,\n    SUM(IF(month_start = params.prior_month_start, monthly_visits, 0)) AS prior_month_visits,\n    SUM(IF(month_start = params.prior_month_start, monthly_converted, 0)) AS prior_month_converted,\n    SAFE_DIVIDE(\n      SUM(IF(month_start = params.prior_month_start, monthly_converted, 0)),\n      SUM(IF(month_start = params.prior_month_start, monthly_visits, 0))\n    ) AS prior_month_cvr,\n    SUM(IF(month_start = params.prior_year_month_start, monthly_visits, 0)) AS prior_year_visits,\n    SUM(IF(month_start = params.prior_year_month_start, monthly_converted, 0)) AS prior_year_converted,\n    SAFE_DIVIDE(\n      SUM(IF(month_start = params.prior_year_month_start, monthly_converted, 0)),\n      SUM(IF(month_start = params.prior_year_month_start, monthly_visits, 0))\n    ) AS prior_year_cvr\n  FROM monthly_traffic_all\n  CROSS JOIN params\n  GROUP BY supplier_id\n),\navailability_rows AS (\n  SELECT\n    DATE_TRUNC(retail_sku_store_date.date, MONTH) AS month_start,\n    CAST(retail_dim_supplier.origsuid AS STRING) AS supplier_id,\n    retail_dim_supplier.origsuname AS supplier_name,\n    retail_ops.id AS ops_id,\n    CASE\n      WHEN UPPER(retail_ops_dims.program) NOT IN ('CASTLEGATE', 'DROPSHIP')\n      THEN COALESCE(availability_global_num, 0)\n      ELSE 0\n    END AS availability_num,\n    CASE\n      WHEN UPPER(retail_ops_dims.program) NOT IN ('CASTLEGATE', 'DROPSHIP')\n      THEN COALESCE(availability_global_denom, 0)\n      ELSE 0\n    END AS availability_denom\n  FROM \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_sku_store_date_agg\\` AS retail_sku_store_date\n  LEFT JOIN UNNEST(retail_sku_store_date.supplier_struct) AS supplier_struct\n  LEFT JOIN UNNEST(supplier_struct.supplier_part_struct) AS supplier_part_struct\n  LEFT JOIN UNNEST(supplier_part_struct.opdimensions) AS retail_ops_dims\n  LEFT JOIN UNNEST(supplier_part_struct.ops) AS retail_ops\n  LEFT JOIN \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_dim_supplier\\` AS retail_dim_supplier\n    ON retail_dim_supplier.supplierkey = supplier_struct.supplierkey\n  CROSS JOIN params\n  WHERE retail_sku_store_date.brandname = 'Wayfair'\n    AND retail_sku_store_date.styname = 'United States'\n    AND retail_sku_store_date.agg_level = 'DAILY'\n    AND retail_dim_supplier.srmcontactname = params.portfolio_owner\n    AND DATE_TRUNC(retail_sku_store_date.date, MONTH) IN (\n      SELECT month_start FROM selected_months\n    )\n    AND retail_ops.id IS NOT NULL\n),\navailability_deduped AS (\n  SELECT\n    month_start,\n    supplier_id,\n    supplier_name,\n    ops_id,\n    MAX(availability_num) AS availability_num,\n    MAX(availability_denom) AS availability_denom\n  FROM availability_rows\n  GROUP BY month_start, supplier_id, supplier_name, ops_id\n),\nmonthly_availability_all AS (\n  SELECT\n    month_start,\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    SUM(availability_num) AS availability_num,\n    SUM(availability_denom) AS availability_denom,\n    SAFE_DIVIDE(SUM(availability_num), SUM(availability_denom)) AS availability_rate\n  FROM availability_deduped\n  GROUP BY month_start, supplier_id\n),\navailability_summary AS (\n  SELECT\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    SAFE_DIVIDE(\n      SUM(IF(month_start = params.current_month_start, availability_num, 0)),\n      SUM(IF(month_start = params.current_month_start, availability_denom, 0))\n    ) AS current_availability,\n    SAFE_DIVIDE(\n      SUM(IF(month_start = params.prior_month_start, availability_num, 0)),\n      SUM(IF(month_start = params.prior_month_start, availability_denom, 0))\n    ) AS prior_month_availability,\n    SAFE_DIVIDE(\n      SUM(IF(month_start = params.prior_year_month_start, availability_num, 0)),\n      SUM(IF(month_start = params.prior_year_month_start, availability_denom, 0))\n    ) AS prior_year_availability\n  FROM monthly_availability_all\n  CROSS JOIN params\n  GROUP BY supplier_id\n),\nmrpi_rows AS (\n  SELECT\n    DATE_TRUNC(retail_sku_store_date.date, MONTH) AS month_start,\n    DATE_TRUNC(retail_sku_store_date.date, WEEK(SUNDAY)) AS week_start,\n    CAST(retail_dim_supplier.origsuid AS STRING) AS supplier_id,\n    retail_dim_supplier.origsuname AS supplier_name,\n    supplier_struct.id AS supplier_struct_id,\n    COALESCE(supplier_struct.mrpi28d_numerator, 0) AS mrpi_num,\n    COALESCE(supplier_struct.mrpi28d_denominator, 0) AS mrpi_denom\n  FROM \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_sku_store_date_agg\\` AS retail_sku_store_date\n  LEFT JOIN UNNEST(retail_sku_store_date.supplier_struct) AS supplier_struct\n  LEFT JOIN \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_dim_supplier\\` AS retail_dim_supplier\n    ON retail_dim_supplier.supplierkey = supplier_struct.supplierkey\n  CROSS JOIN params\n  WHERE retail_sku_store_date.brandname = 'Wayfair'\n    AND retail_sku_store_date.styname = 'United States'\n    AND retail_sku_store_date.agg_level = 'WEEKLY'\n    AND retail_dim_supplier.srmcontactname = params.portfolio_owner\n    AND DATE_TRUNC(retail_sku_store_date.date, MONTH) IN (\n      SELECT month_start FROM selected_months\n    )\n    AND supplier_struct.id IS NOT NULL\n),\nmrpi_deduped AS (\n  SELECT\n    month_start,\n    week_start,\n    supplier_id,\n    supplier_name,\n    supplier_struct_id,\n    ANY_VALUE(mrpi_num) AS mrpi_num,\n    ANY_VALUE(mrpi_denom) AS mrpi_denom\n  FROM mrpi_rows\n  GROUP BY month_start, week_start, supplier_id, supplier_name, supplier_struct_id\n),\nweekly_mrpi_all AS (\n  SELECT\n    month_start,\n    week_start,\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    SUM(mrpi_num) AS mrpi_num,\n    SUM(mrpi_denom) AS mrpi_denom,\n    SAFE_DIVIDE(SUM(mrpi_num), SUM(mrpi_denom)) AS mrpi_rate\n  FROM mrpi_deduped\n  GROUP BY month_start, week_start, supplier_id\n),\nmonthly_mrpi_snapshot AS (\n  SELECT month_start, supplier_id, supplier_name, mrpi_rate\n  FROM (\n    SELECT\n      month_start,\n      supplier_id,\n      supplier_name,\n      mrpi_rate,\n      ROW_NUMBER() OVER (PARTITION BY month_start, supplier_id ORDER BY week_start DESC) AS row_num\n    FROM weekly_mrpi_all\n  )\n  WHERE row_num = 1\n),\nmrpi_summary AS (\n  SELECT\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    MAX(IF(month_start = params.current_month_start, mrpi_rate, NULL)) AS current_mrpi,\n    MAX(IF(month_start = params.prior_month_start, mrpi_rate, NULL)) AS prior_month_mrpi,\n    MAX(IF(month_start = params.prior_year_month_start, mrpi_rate, NULL)) AS prior_year_mrpi\n  FROM monthly_mrpi_snapshot\n  CROSS JOIN params\n  GROUP BY supplier_id\n),\nwsi_rows AS (\n  SELECT\n    DATE_TRUNC(retail_sku_store_date.date, MONTH) AS month_start,\n    DATE_TRUNC(retail_sku_store_date.date, WEEK(SUNDAY)) AS week_start,\n    CAST(retail_dim_supplier.origsuid AS STRING) AS supplier_id,\n    retail_dim_supplier.origsuname AS supplier_name,\n    CAST(wpi_wsi.indexdate AS DATE) AS index_date,\n    wpi_wsi.id AS wpi_wsi_id,\n    COALESCE(wpi_wsi.WSI28D_Numerator, 0) AS wsi_num,\n    COALESCE(wpi_wsi.WSI28D_Denominator, 0) AS wsi_denom\n  FROM \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_sku_store_date_agg\\` AS retail_sku_store_date\n  LEFT JOIN UNNEST(retail_sku_store_date.supplier_struct) AS supplier_struct\n  LEFT JOIN UNNEST(supplier_struct.wpi_wsi) AS wpi_wsi\n  LEFT JOIN \\\n    \\`wf-gcp-us-ae-retail-prod.cm_reporting.retail_dim_supplier\\` AS retail_dim_supplier\n    ON retail_dim_supplier.supplierkey = supplier_struct.supplierkey\n  CROSS JOIN params\n  WHERE retail_sku_store_date.brandname = 'Wayfair'\n    AND retail_sku_store_date.styname = 'United States'\n    AND retail_sku_store_date.agg_level = 'WEEKLY'\n    AND retail_dim_supplier.srmcontactname = params.portfolio_owner\n    AND DATE_TRUNC(retail_sku_store_date.date, MONTH) IN (\n      SELECT month_start FROM selected_months\n    )\n    AND wpi_wsi.id IS NOT NULL\n),\nwsi_deduped AS (\n  SELECT\n    month_start,\n    week_start,\n    supplier_id,\n    supplier_name,\n    index_date,\n    wpi_wsi_id,\n    ANY_VALUE(wsi_num) AS wsi_num,\n    ANY_VALUE(wsi_denom) AS wsi_denom\n  FROM wsi_rows\n  GROUP BY month_start, week_start, supplier_id, supplier_name, index_date, wpi_wsi_id\n),\nweekly_wsi_all AS (\n  SELECT\n    month_start,\n    week_start,\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    ANY_VALUE(index_date) AS index_date,\n    SUM(wsi_num) AS wsi_num,\n    SUM(wsi_denom) AS wsi_denom,\n    SAFE_DIVIDE(SUM(wsi_num), SUM(wsi_denom)) AS wsi_rate\n  FROM wsi_deduped\n  GROUP BY month_start, week_start, supplier_id\n),\nmonthly_wsi_snapshot AS (\n  SELECT month_start, supplier_id, supplier_name, wsi_rate\n  FROM (\n    SELECT\n      month_start,\n      supplier_id,\n      supplier_name,\n      wsi_rate,\n      ROW_NUMBER() OVER (\n        PARTITION BY month_start, supplier_id\n        ORDER BY week_start DESC, index_date DESC\n      ) AS row_num\n    FROM weekly_wsi_all\n  )\n  WHERE row_num = 1\n),\nwsi_summary AS (\n  SELECT\n    supplier_id,\n    ANY_VALUE(supplier_name) AS supplier_name,\n    MAX(IF(month_start = params.current_month_start, wsi_rate, NULL)) AS current_wsi,\n    MAX(IF(month_start = params.prior_month_start, wsi_rate, NULL)) AS prior_month_wsi,\n    MAX(IF(month_start = params.prior_year_month_start, wsi_rate, NULL)) AS prior_year_wsi\n  FROM monthly_wsi_snapshot\n  CROSS JOIN params\n  GROUP BY supplier_id\n)\nSELECT\n  requested_supplier.supplier_id,\n  COALESCE(\n    requested_supplier.supplier_name,\n    grs_summary.supplier_name,\n    traffic_summary.supplier_name,\n    availability_summary.supplier_name,\n    mrpi_summary.supplier_name,\n    wsi_summary.supplier_name\n  ) AS supplier_name,\n  requested_supplier.supplier_exists,\n  params.portfolio_owner,\n  params.current_month_start,\n  params.prior_month_start,\n  params.prior_year_month_start,\n  FORMAT_DATE('%B %Y', params.current_month_start) AS current_month_label,\n  FORMAT_DATE('%B %Y', params.prior_month_start) AS prior_month_label,\n  FORMAT_DATE('%B %Y', params.prior_year_month_start) AS prior_year_month_label,\n  grs_summary.currency_symbol,\n  portfolio_rank.current_month_grs_rank,\n  portfolio_rank.current_month_grs_share,\n  grs_summary.current_grs,\n  grs_summary.prior_month_grs,\n  grs_summary.prior_year_grs,\n  grs_summary.current_grs - grs_summary.prior_month_grs AS mom_grs_change,\n  SAFE_DIVIDE(grs_summary.current_grs - grs_summary.prior_month_grs, grs_summary.prior_month_grs) AS mom_grs_pct,\n  grs_summary.current_grs - grs_summary.prior_year_grs AS yoy_grs_change,\n  SAFE_DIVIDE(grs_summary.current_grs - grs_summary.prior_year_grs, grs_summary.prior_year_grs) AS yoy_grs_pct,\n  traffic_summary.current_visits,\n  traffic_summary.prior_month_visits,\n  traffic_summary.prior_year_visits,\n  traffic_summary.current_converted,\n  traffic_summary.prior_month_converted,\n  traffic_summary.prior_year_converted,\n  traffic_summary.current_cvr,\n  traffic_summary.prior_month_cvr,\n  traffic_summary.prior_year_cvr,\n  traffic_summary.current_visits - traffic_summary.prior_month_visits AS mom_visits_change,\n  SAFE_DIVIDE(traffic_summary.current_visits - traffic_summary.prior_month_visits, traffic_summary.prior_month_visits) AS mom_visits_pct,\n  traffic_summary.current_visits - traffic_summary.prior_year_visits AS yoy_visits_change,\n  SAFE_DIVIDE(traffic_summary.current_visits - traffic_summary.prior_year_visits, traffic_summary.prior_year_visits) AS yoy_visits_pct,\n  traffic_summary.current_cvr - traffic_summary.prior_month_cvr AS mom_cvr_change,\n  traffic_summary.current_cvr - traffic_summary.prior_year_cvr AS yoy_cvr_change,\n  availability_summary.current_availability,\n  availability_summary.prior_month_availability,\n  availability_summary.prior_year_availability,\n  availability_summary.current_availability - availability_summary.prior_month_availability AS mom_availability_change,\n  availability_summary.current_availability - availability_summary.prior_year_availability AS yoy_availability_change,\n  mrpi_summary.current_mrpi,\n  mrpi_summary.prior_month_mrpi,\n  mrpi_summary.prior_year_mrpi,\n  mrpi_summary.current_mrpi - mrpi_summary.prior_month_mrpi AS mom_mrpi_change,\n  mrpi_summary.current_mrpi - mrpi_summary.prior_year_mrpi AS yoy_mrpi_change,\n  wsi_summary.current_wsi,\n  wsi_summary.prior_month_wsi,\n  wsi_summary.prior_year_wsi,\n  wsi_summary.current_wsi - wsi_summary.prior_month_wsi AS mom_wsi_change,\n  wsi_summary.current_wsi - wsi_summary.prior_year_wsi AS yoy_wsi_change\nFROM params\nCROSS JOIN requested_supplier\nLEFT JOIN grs_summary\n  ON grs_summary.supplier_id = requested_supplier.supplier_id\nLEFT JOIN portfolio_rank\n  ON portfolio_rank.supplier_id = requested_supplier.supplier_id\nLEFT JOIN traffic_summary\n  ON traffic_summary.supplier_id = requested_supplier.supplier_id\nLEFT JOIN availability_summary\n  ON availability_summary.supplier_id = requested_supplier.supplier_id\nLEFT JOIN mrpi_summary\n  ON mrpi_summary.supplier_id = requested_supplier.supplier_id\nLEFT JOIN wsi_summary\n  ON wsi_summary.supplier_id = requested_supplier.supplier_id`;\n\nreturn [{\n  json: {\n    supplierId,\n    recipientEmail,\n    portfolioOwner,\n    contextNotes,\n    sqlQuery,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "6885b4b8-72a6-4f3c-a24d-cd8c2a33ac54",
      "name": "Prepare Input"
    },
    {
      "parameters": {
        "projectId": {
          "__rl": true,
          "value": "wf-gcp-us-ae-eunarta-proc-prod",
          "mode": "list",
          "cachedResultName": "wf-gcp-us-ae-eunarta-proc-prod",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=wf-gcp-us-ae-eunarta-proc-prod"
        },
        "sqlQuery": "={{ $json.sqlQuery }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        544,
        0
      ],
      "id": "8dfd05ae-eb2b-4d08-bab7-c1701c581173",
      "name": "Monthly Supplier Snapshot",
      "credentials": {
        "googleBigQueryOAuth2Api": {
          "id": "61aSuNTfPEjWsHyK",
          "name": "Google BigQuery account 352"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst request = $('Prepare Input').item.json;\n\nconst safeNumber = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  const num = Number(value);\n  return Number.isFinite(num) ? num : null;\n};\n\nconst escapeHtml = (value) => String(value ?? '')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\"/g, '&quot;')\n  .replace(/'/g, '&#39;');\n\nconst money = (value) => {\n  const num = safeNumber(value);\n  if (num === null) return 'N/A';\n  return new Intl.NumberFormat('en-US', {\n    style: 'currency',\n    currency: 'USD',\n    maximumFractionDigits: 0,\n  }).format(num);\n};\n\nconst integer = (value) => {\n  const num = safeNumber(value);\n  if (num === null) return 'N/A';\n  return new Intl.NumberFormat('en-US', { maximumFractionDigits: 0 }).format(num);\n};\n\nconst percent = (value, digits = 1) => {\n  const num = safeNumber(value);\n  if (num === null) return 'N/A';\n  return `${(num * 100).toFixed(digits)}%`;\n};\n\nconst pts = (value, digits = 1) => {\n  const num = safeNumber(value);\n  if (num === null) return 'N/A';\n  const scaled = num * 100;\n  const sign = scaled > 0 ? '+' : '';\n  return `${sign}${scaled.toFixed(digits)} pts`;\n};\n\nconst pctDelta = (value) => {\n  const num = safeNumber(value);\n  if (num === null) return 'N/A';\n  const scaled = num * 100;\n  const sign = scaled > 0 ? '+' : '';\n  return `${sign}${scaled.toFixed(1)}%`;\n};\n\nconst metricRow = (label, current, priorMonth, priorYear, mom, yoy, formatter, deltaFormatter) => {\n  const format = formatter || ((value) => value);\n  const formatDelta = deltaFormatter || format;\n  return `<tr><td>${escapeHtml(label)}</td><td>${format(current)}</td><td>${format(priorMonth)}</td><td>${format(priorYear)}</td><td>${formatDelta(mom)}</td><td>${formatDelta(yoy)}</td></tr>`;\n};\n\nconst supplierId = data.supplier_id || request.supplierId;\nconst supplierName = data.supplier_name || `Supplier ${supplierId}`;\nconst currentMonth = data.current_month_label || 'Last closed month';\nconst priorMonth = data.prior_month_label || 'Previous month';\nconst priorYearMonth = data.prior_year_month_label || 'Prior year';\nconst portfolioOwner = data.portfolio_owner || request.portfolioOwner;\nconst contextNotes = request.contextNotes;\nconst subject = `Monthly Supplier Pre-Read | ${supplierName} (${supplierId}) | ${currentMonth}`;\n\nlet summaryItems = [];\nlet tableHtml = '';\nlet statusBanner = '';\n\nif (!data.supplier_exists) {\n  statusBanner = `<div class=\"banner warning\">No supplier in the selected portfolio matched SuID <strong>${escapeHtml(supplierId)}</strong>.</div>`;\n  summaryItems = [\n    `Portfolio filter used: ${escapeHtml(portfolioOwner)}`,\n    'Confirm the supplier ID is correct and that the supplier is assigned to this portfolio owner.',\n    'No pre-read metrics were attached because the lookup returned no matching supplier.',\n  ];\n} else {\n  if (safeNumber(data.current_grs) !== null) {\n    summaryItems.push(`${escapeHtml(supplierName)} generated <strong>${money(data.current_grs)}</strong> in ${escapeHtml(currentMonth)} (${pctDelta(data.mom_grs_pct)} vs ${escapeHtml(priorMonth)}; ${pctDelta(data.yoy_grs_pct)} vs ${escapeHtml(priorYearMonth)}).`);\n  }\n\n  if (safeNumber(data.current_month_grs_rank) !== null || safeNumber(data.current_month_grs_share) !== null) {\n    const rankText = safeNumber(data.current_month_grs_rank) === null ? 'N/A' : `#${integer(data.current_month_grs_rank)}`;\n    summaryItems.push(`Current-month portfolio standing: <strong>${rankText}</strong> by GRS with <strong>${percent(data.current_month_grs_share)}</strong> of portfolio revenue.`);\n  }\n\n  if (safeNumber(data.current_visits) !== null || safeNumber(data.current_cvr) !== null) {\n    summaryItems.push(`Traffic landed at <strong>${integer(data.current_visits)}</strong> visits with <strong>${percent(data.current_cvr)}</strong> CVR (${pts(data.mom_cvr_change)} vs ${escapeHtml(priorMonth)}).`);\n  }\n\n  if (safeNumber(data.current_availability) !== null || safeNumber(data.current_mrpi) !== null || safeNumber(data.current_wsi) !== null) {\n    summaryItems.push(`Operational health snapshot: Availability <strong>${percent(data.current_availability)}</strong>, MRPI <strong>${percent(data.current_mrpi)}</strong>, WSI <strong>${percent(data.current_wsi)}</strong>.`);\n  }\n\n  tableHtml = `\n    <table>\n      <thead>\n        <tr>\n          <th>Metric</th>\n          <th>${escapeHtml(currentMonth)}</th>\n          <th>${escapeHtml(priorMonth)}</th>\n          <th>${escapeHtml(priorYearMonth)}</th>\n          <th>MoM</th>\n          <th>YoY</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${metricRow('GRS', data.current_grs, data.prior_month_grs, data.prior_year_grs, data.mom_grs_change, data.yoy_grs_change, money, money)}\n        ${metricRow('Visits', data.current_visits, data.prior_month_visits, data.prior_year_visits, data.mom_visits_change, data.yoy_visits_change, integer, integer)}\n        ${metricRow('CVR', data.current_cvr, data.prior_month_cvr, data.prior_year_cvr, data.mom_cvr_change, data.yoy_cvr_change, percent, pts)}\n        ${metricRow('Availability', data.current_availability, data.prior_month_availability, data.prior_year_availability, data.mom_availability_change, data.yoy_availability_change, percent, pts)}\n        ${metricRow('MRPI', data.current_mrpi, data.prior_month_mrpi, data.prior_year_mrpi, data.mom_mrpi_change, data.yoy_mrpi_change, percent, pts)}\n        ${metricRow('WSI', data.current_wsi, data.prior_month_wsi, data.prior_year_wsi, data.mom_wsi_change, data.yoy_wsi_change, percent, pts)}\n      </tbody>\n    </table>\n  `;\n}\n\nif (summaryItems.length === 0) {\n  summaryItems.push('No comparable metrics were returned for this supplier in the selected reporting window.');\n}\n\nconst contextBlock = contextNotes\n  ? `<div class=\"callout\"><h2>Meeting context</h2><p>${escapeHtml(contextNotes)}</p></div>`\n  : '';\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset=\"UTF-8\" />\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        color: #1f2933;\n        line-height: 1.5;\n        margin: 0;\n        padding: 24px;\n      }\n      h1 {\n        margin: 0 0 8px;\n        background: #1f4e79;\n        color: #fff;\n        padding: 16px 18px;\n        border-radius: 8px;\n        font-size: 24px;\n      }\n      .subhead {\n        margin: 12px 0 20px;\n        color: #52606d;\n      }\n      h2 {\n        color: #1f4e79;\n        border-bottom: 2px solid #d9e2ec;\n        padding-bottom: 4px;\n        margin-top: 28px;\n      }\n      .banner {\n        padding: 12px 14px;\n        border-radius: 8px;\n        margin: 16px 0;\n      }\n      .warning {\n        background: #fff4db;\n        color: #7c5a00;\n        border: 1px solid #f0c36d;\n      }\n      .callout {\n        background: #f7fafc;\n        border: 1px solid #d9e2ec;\n        border-radius: 8px;\n        padding: 12px 14px;\n        margin-top: 22px;\n      }\n      ul {\n        padding-left: 22px;\n      }\n      table {\n        width: 100%;\n        border-collapse: collapse;\n        margin-top: 14px;\n        font-size: 13px;\n      }\n      th {\n        background: #eaf2f8;\n        text-align: left;\n        padding: 8px;\n        border: 1px solid #cbd2d9;\n      }\n      td {\n        padding: 8px;\n        border: 1px solid #d9e2ec;\n      }\n      tr:nth-child(even) {\n        background: #f8fbfd;\n      }\n      .meta {\n        color: #7b8794;\n        font-size: 12px;\n        margin-top: 20px;\n      }\n    </style>\n  </head>\n  <body>\n    <h1>Monthly Supplier Pre-Read</h1>\n    <div class=\"subhead\"><strong>${escapeHtml(supplierName)}</strong> (SuID ${escapeHtml(supplierId)})<br/>Portfolio owner filter: ${escapeHtml(portfolioOwner)}<br/>Reporting month: ${escapeHtml(currentMonth)}</div>\n    ${statusBanner}\n    <h2>Executive summary</h2>\n    <ul>${summaryItems.map((item) => `<li>${item}</li>`).join('')}</ul>\n    <h2>Metric snapshot</h2>\n    ${tableHtml || '<p><em>No metric table available for this supplier lookup.</em></p>'}\n    ${contextBlock}\n    <div class=\"meta\">Generated automatically from n8n using the last fully closed month, the preceding month, and the same month last year.</div>\n  </body>\n</html>`;\n\nreturn [{\n  json: {\n    sendTo: request.recipientEmail,\n    subject,\n    message: htmlBody,\n    previewHtml: htmlBody,\n  },\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "38f68a18-8c4d-4a49-8c62-e2c4ebf2ccd2",
      "name": "Build Pre-Read Email"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.sendTo }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        0
      ],
      "id": "2f8d8cfe-70be-4d02-b95d-fe9e5624aef7",
      "name": "Send Pre-Read",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZmmontG7EgaANggr",
          "name": "Gmail account 287"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Monthly Supplier Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Supplier Snapshot": {
      "main": [
        [
          {
            "node": "Build Pre-Read Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pre-Read Email": {
      "main": [
        [
          {
            "node": "Send Pre-Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Pre-Read": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6bfe4b87-677e-4dd0-b0c2-5b4cab8ed629",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03eaefce1798e2883471ae7d5d2dfbc186343411ac19c565c97d8bae537d45f1"
  },
  "id": "NnYmXo5XqW7a8tQg",
  "tags": []
}
